.content {    
    margin-top: 55px;
    padding-bottom: 50px;

    @include min-screen($desktop) {
        margin-left: 210px
    }

    // advert on the right
    @include min-screen($tablet-landscape) {
        // margin-right: 160px;
        padding-bottom: 0;
    }

    @include max-screen(1024px) {
        @media only screen and (orientation:'landscape') {
            margin-right: 120px;
            @include min-screen($tablet-portrait) {
                margin-right: 160px;
            }
        }

        @media only screen and (orientation:'portrait') {
            
        }
    }

    @include min-screen(1024px) {
        margin-right: 160px;
    }

    .nav-open & {
        position: fixed;
        -webkit-filter: blur(8px);
        @include min-screen($desktop) {
            -webkit-filter: none;
        }
    }
}

.right-container {

    .nav-open & {
        -webkit-filter: blur(8px);
        @include min-screen($desktop) {
            -webkit-filter: none;
        }
    }

    .mobile {
        width: 100%;
        position: fixed;
        bottom: 0;
        background-color: $black;
        z-index: 5;
        border-top: 2px solid $yellow;
        @include transition(200ms);

        .banner-text {
            margin: 0;
            padding: 5px 10px;
            position: absolute;
            right: 0;
            top: 0;
            background: $yellow;
            font-size: 10px;
            color: $black;
            text-decoration: none;
        }

        @include min-screen($tablet-landscape) {
            display: none;
        }

        img {
            display: block;
            max-width: 100%;
            max-height: 60px;
            margin: 0 auto;
        }
    }

    .desktop {
        display: none;
        width: 120px;
        height: 100%;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 10;
        background: $black;
        border-left: 4px solid $yellow;

        @include min-screen($tablet-portrait) {
            width: 160px;
        }

        .right-wrapper {
            p {
                margin: 0;
                padding: 0;
                a {
                    display: block;
                    color: $black;
                    margin: 0;
                    padding: 4px 0 2px;
                    font-size: 16px;
                    text-align: center;
                    text-transform: uppercase;
                    background: $yellow;
                    text-decoration: none;
                }
            }
        }

        img {
            display: block;
            max-width: 100%;
            margin: 0 auto;
        }

        @include min-screen($tablet-landscape) {
            display: block;
        }
    }



    @include max-screen(1024px) {
        @media only screen and (orientation:'landscape') {
            .desktop {
                display: block;   
            }
            .mobile {
                display: none;
            }
        }

        @media only screen and (orientation:'portrait') {
            .desktop {
                display: none;
            }
            .mobile {
                display: block;
            }
        }
    }
}