.content {    
    margin-top: 55px;
    padding-bottom: 50px;

    @include min-screen($tablet-landscape) {
        // margin-left: 268px;
        margin-left: 180px;
    }

    // advert on the right
    @include min-screen($desktop) {
        margin-right: 180px;
        padding-bottom: 0;
    }

    .nav-open & {
        -webkit-filter: blur(4px);
        @include min-screen($tablet-landscape) {
            -webkit-filter: none;
        }
    }
}

.right-container {
    .mobile {
        width: 100%;
        position: fixed;
        bottom: 0;
        background-color: $black;
        z-index: 5;
        border-top: 2px solid $yellow;

        .banner-text {
            margin: 0;
            padding: 5px 10px;
            position: absolute;
            right: 0;
            top: 0;
            background: $yellow;
            font-size: 10px;
            color: $black;
            text-decoration: none;
        }

        @include min-screen($desktop) {
            display: none;
        }

        img {
            display: block;
            max-width: 100%;
            max-height: 60px;
            margin: 0 auto;
        }
    }

    .desktop {
        display: none;
        width: 180px;
        height: 100%;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 10;
        background: $black;
        border-left: 4px solid $yellow;

        .right-wrapper {
            p {
                margin: 0;
                padding: 0;
                a {
                    display: block;
                    color: $black;
                    margin: 0;
                    padding: 4px 0 2px;
                    font-size: 16px;
                    text-align: center;
                    text-transform: uppercase;
                    background: $yellow;
                    text-decoration: none;
                }
            }
        }

        img {
            display: block;
            max-width: 100%;
            margin: 0 auto;
        }

        @include min-screen($desktop) {
            display: block;
        }
    }
}