.events-list {
    padding: 16px;

    @include min-screen($tablet-landscape) {
        padding: 26px;
    }
}

.view-type {
    width: 100%;
    text-align: center;

    .events-list-nav {
        margin: 0 0 16px;
        padding: 0;
        list-style: none;

        @include min-screen($tablet-portrait) {
            margin: 0 0 30px;
        }

        li {
            display: inline-block;
            width: 50%;
            position: relative;

            a {
                display: block;
                padding: 12px 2px;
                background: $light-gray;
                color: $black;
                font-size: 12px;
                font-weight: 300;
                text-decoration: none;
                text-transform: uppercase;

                @include min-screen($tablet-portrait) {
                    padding: 16px 2px;
                    font-size: 14px;
                }

                @include min-screen($tablet-landscape) {
                    font-size: 16px;
                }

                .fa {
                    position: relative;
                    top: 1px;
                    @include min-screen($tablet-landscape) {
                        position: relative;
                        top: 2px;
                    }
                }
            }

            &.selected {
                a {
                    background-color: $white;
                    &:after {
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 10px 20px 0 20px;
                        border-color: #fff transparent transparent transparent;
                        content: "";
                        position: absolute;
                        bottom: -9px;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

.date-picker {
    display: inline-block;
    margin-bottom: 10px;
    position: relative;
    width: 100%;

    .datepicker-trigger {
        display: block;
        background-color: $white;
        width: 100%;
        padding: 14px 16px;
        border: 0;
        font-size: 14px;
        text-transform: capitalize;

        @include box-sizing(border);

        &:focus {
            outline: 0;
        }

        @include min-screen($tablet-portrait) {
            width: 420px;
            padding: 12px 16px;
            font-size: 18px;
        }
    }

    .icon {
        display: block;
        width: 68px;
        height: 100%;
        padding: 6px 15px;
        font-size: 24px;
        background: $yellow url('../images/cal-icon-down.png') 44px center no-repeat;
        background-size: 12px auto;
        position: absolute;
        right: 0;
        top: 0;
        @include box-sizing(border);

        @include min-screen($tablet-portrait) {
            width: 120px;
            padding: 2px 2px 2px 16px;
            right: auto;
            left: 300px;
            background-image: none;
            line-height: 42px;
            font-size: 18px;
        }

        .fa {
            font-size: 22px;

            @include min-screen($tablet-portrait) {
                position: relative;
                top: 2px;
            }
        }

        .label {
            display: none;

            @include min-screen($tablet-portrait) {
                display: inline-block;
                font-size: 14px;
                white-space: nowrap;
                overflow: visible;
            }
        }
    }
}

.events {
    .event-item {
        display: block;
        margin-bottom: 6px;
        padding: 8px;
        background-color: $white;
        position: relative;
        color: $dark-text;

        @include min-screen($tablet-portrait) {
            margin-bottom: 10px;
        }

        img {
            display: block;
            max-width: 100%;
        }

        .event-club-pic {
            display: none;
            float: left;
            max-width: 60px;
            margin-right: 10px;

            @include min-screen($tablet-portrait) {
                display: block;
            }

            @include min-screen($desktop) {
                max-width: 45px;
                margin-right: 8px;
            }

            @include min-screen($wide-desktop) {
                max-width: 60px;
                margin-right: 10px;
            }

            @include min-screen($full-hd) {
                max-width: 65px;
            }
        }

        .mobile-event-image {
            @include min-screen($tablet-portrait) {
                display: none;
            }
        }

        .event-image {
            display: none;

            @include min-screen($tablet-portrait) {
                display: block;
            }
        }

        .event-name {
            font-size: 18px;
            margin: 0 0 5px;
            padding: 0 0 5px;
            border-bottom: 1px solid #b8b8b8;
            line-height: 15px;

            @include min-screen($tablet-portrait) {
                margin: 0 0 14px;
                padding: 18px 0px 14px 5px;
            }
        }

        .event-location {
            font-size: 12px;
            margin: 0 0 5px;
            padding: 0 0 5px;
            border-bottom: 1px solid #b8b8b8;

            @include min-screen($tablet-portrait) {
                font-size: 14px;
                border-bottom: 0;
                margin: 0;
                padding: 0;
            }

            @include min-screen($desktop) {
                font-size: 12px;
            }

            @include min-screen($wide-desktop) {
                font-size: 14px;
            }

            strong {
                display: block;
                margin: 0;
            }
        }

        .event-distance-label {
            display: none;

            @include min-screen($tablet-portrait) {
                display: inline;
            }
        }

        .event-distance {
            font-size: 12px;
            margin: 2px 0 0;

            .fa {
                font-size: 14px;

                @include min-screen($tablet-portrait) {
                    font-size: 16px;
                }
            }

            @include min-screen($desktop) {
                font-size: 11px;
            }

            @include min-screen($wide-desktop) {
                font-size: 12px;
            }
        }

        .guests {
            margin: 0;
            position: absolute;
            right: 10px;
            bottom: 6px;
            font-size: 12px;

            @include min-screen($tablet-portrait) {
                bottom: 7px;
            }
        }
    }    
}