$yellow: #fcc966;
$dark-yellow: #866e3e;
$black: #000;
$white: #fff;
$dark-text: #1a1a1a;

$gray: #292929;
$light-gray: #e6e4e4;

$phone-landscape: 480px;
$tablet-portrait: 640px;
$tablet-landscape: 1024px;
$desktop: 1280px;
$wide-desktop: 1440px;
$full-hd: 1920px;